flame-rpp1.200123.016-factory-f87749db.zip
product/app/GoogleCamera/GoogleCamera.apk
product/app/NgaResources/NgaResources.apk
product/priv-app/Velvet/Velvet.apk
system/system/apex/com.android.vndk.current.apex
